[Unit]
Description=NodeJS Game for {{ AppName }} {{ GameType }} {{ ID }}
Requires=network.target
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/node {{ exec_file }}
ExecReload=/bin/kill -TERM $MAINPID
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=NodeJS P2P-{{ AppName }}-{{ ID }}
User=root
Group=root
KillSignal=SIGTERM
KillMode=process
Restart=on-failure
RestartSec=2
StartLimitInterval=20s
StartLimitBurst=1
Environment=NODE_ENV={{ env }}
Environment=APP_NAME=GE_{{ AppName }}
Environment=TABLE={{ ID }}
Environment=NODE_PATH=/usr/lib/node_modules

[Install]
WantedBy=multi-user.target
