[Unit]
Description=NodeJS Game P2P BOT
Requires=network.target
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/node {{ exec_file }}
ExecReload=/bin/kill -TERM $MAINPID
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=NodeJS BOT
User=root
Group=root
KillSignal=SIGTERM
KillMode=process
Restart=on-failure
RestartSec=2
StartLimitInterval=10s
StartLimitBurst=2
Environment=NODE_ENV={{ env }}
Environment=SCHEDULEID=1
Environment=NODE_PATH=/usr/lib/node_modules

[Install]
WantedBy=multi-user.target