[Unit]
Description=Taskmq worker runlight_monkeystory_syncres
Requires=network.target
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/node /var/nodejs/{{ ProjectName|lower }}/index.js
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier= {{ {{ ProjectName }} }}-{{ AppName }}{% if SERVICEID %}-{{ SERVICEID }}{% endif %}
User=root
Group=root
KillSignal=SIGTERM
KillMode=process
Restart=on-failure
RestartSec=2
StartLimitInterval=10s
StartLimitBurst=2
Environment=NODE_ENV={{ env }}
Environment=APP_NAME=GE_{{ AppName|lower }}
Environment=APP_GAME={{ AppName }}
Environment=NODE_PATH=/usr/lib/node_modules
[Install]
WantedBy=multi-user.target
