[Unit]
Description=NodeJS Game for {{ AppName }} {{ GameType }} {{ TableID }}
Requires=network.target
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/node /var/nodejs/p2p_game_engine/index.js
ExecReload=/bin/kill -TERM $MAINPID
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=NodeJS P2P-{{ AppName }}-{{ TableID }}
User=root
Group=root
KillSignal=SIGTERM
KillMode=process
Restart=on-failure
RestartSec=2
StartLimitInterval=10s
StartLimitBurst=2
Environment=NODE_ENV=production
Environment=APP_NAME=ge_{{ AppName|lower }}
Environment=TABLE={{ TableID }}
Environment=NODE_PATH=/usr/lib/node_modules

[Install]
WantedBy=multi-user.target
